<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layoutContents.html}">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="pc__container">
    <div th:replace="/fragments/header :: header"></div>
    <main>
        <section class="py-3 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">현재 리스트</h1>
                    <p class="lead text-muted">mango plate 모방 스터디 입니다.</p>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='addForm.html'"
                        th:onclick="|location.href='@{/managePlace/add}'|"
                        type="button">장소 등록</button>
            </div>
        </div>

        <hr class="my-4">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>Num</th>
                    <th>장소명</th>
                    <th>주소</th>
                    <th>번호</th>
                    <th>주차 여부</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="place : ${allPlace}">
                    <td><a href="managePlaces.html" th:href="@{/managePlace/{placeNum}(placeNum=${place.placeNum})}"
                           th:text="${place.listNum}">장소 num</a></td>
                    <td><a href="managePlaces.html" th:href="@{|/managePlace/${place.placeNum}|}"
                           th:text="${place.placeName}">장소명</a></td>
                    <td th:text="${place.placeAddr}"></td>
                    <td th:text="${place.placePhone}"></td>
                    <td th:text="${place.placeParking}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="album py-5 bg-light">
            <table>
                <th:block th:each="place : ${allPlace}">
                    <tr>
                        <td>
                            <h1 th:text="${place.getPlaceNum()}"></h1>
                        </td>
                        <td>
                            <h3 th:text="${place.getPlaceName()}">Featured post</h3>
                        </td>
                        <td>
                            <h3 th:text="${place.getPlaceAddr()}" class="mb-1 text-muted">Nov 12</h3>
                        </td>
                        <td>
                            <h3 th:text="${place.getPlacePhone()}" class="mb-1 text-muted">Nov 12</h3>
                        </td>
                        <td>
                            <h3 th:text="'parking : ' + ${place.getPlaceParking()}" class="mb-1 text-muted">Nov 12</h3>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
</div>
</main>
<script>
    $(document).ready(function () {
        $("#insertList").on("click", function (e) {
            location.href = "/manageList/insertList";
        });
        $("#updateList").on("click", function (e) {
            location.href = "updateList";
        });
        /* 삭제 버튼 */
    })

</script>
</div>
</body>
</html>