<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layoutContents.html}">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="pc__container">
    <div th:replace="/fragments/header :: header"></div>

    <div class="card-group">
        <div class="card">
            <img th:src="@{/image/img1.jpg}" class="card-img-top" alt="...">
        </div>
        <div class="card">
            <img th:src="@{/image/img1.jpg}" class="card-img-top" alt="...">
        </div>
        <div class="card">
            <img th:src="@{/image/img1.jpg}" class="card-img-top" alt="...">
        </div>
    </div>
    <form th:object="${place}" id="infoForm" action="/product/delete" method="post">
        <input type="hidden" th:field="*{placeNum}"/>
    </form>
    <section class="col-8">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th th:text="${place.getPlaceName()}" scope="col" colspan="2">이름</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" class="col-2">주소</th>
                <td th:text="${place.getPlaceAddr()}">Mark</td>
            </tr>
            <tr>
                <th scope="row">전화번호</th>
                <td th:text="${place.getPlacePhone()}">Jacob</td>
            </tr>
            <tr>
                <th scope="row">주차여부</th>
                <td th:text="${place.getPlaceParking()}">123</td>
            </tr>
            <tr>
                <th scope="row">메뉴</th>
                <td>123</td>
            </tr>
            </tbody>
        </table>
    </section>
    <div>
        <a class="btn" id="product_delete">삭제</a>
    </div>

    <script type="text/javascript">
        $(document).ready(function (){
            var form = $("#infoForm");
            $("#product_delete").on("click", function(e){
                form.attr("action", "/product/delete");
                form.attr("method", "post");
                form.submit();
            });
        })
    </script>

</div>
</body>
</html>