<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layoutContents.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="pc__container">
    <form th:object="${mainImageVO}" action="/manageList/updateMainImage" method="post" enctype="multipart/form-data">
        <ul>
            <li>이미지 파일 <input type="file" id="file" name="file"></li>
            <li><input type="submit"/></li>
        </ul>
        <input type="hidden" th:field="*{listNum}"/>
        <input type="hidden" th:field="*{mainImageNum}"/>
    </form>
</div>
</body>
</html>